<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playerPosition</key>
	<string>{250,200}</string>
	<key>movement</key>
	<string>2.0f</string>
	<key>coinPosition</key>
	<string>{250,150}</string>
	<key>coin2Position</key>
	<string>{260,120}</string>
	<key>explotionFile</key>
	<string>WaterSplash.plist</string>
	<key>gravity</key>
	<string>50.0f</string>
</dict>
</plist>
